{% extends 'base.html'%}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
<div class="container">
    <div class="row">
      <div class="col-md-8">
       <h1>Pomodoro</h1>
        <h3>{{ current_user.username }}</h3>
        <h5>Timer: {{ '{:02d}'.format(pomodoro.timer_length) }}</h5>
        <small>Break for: {{ pomodoro.break_length }}</small>
        
        <div class="border-top pt-3">
       
          </div>
    
      </div>
      <div class="col-md-4"></div>
    </div>
  </div>
{% endblock %}